/*** Init ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Style ***/
body {
    background-color: burlywood;
}

.title {
    font-size: 3rem;
}

.playground {
    border: 5px solid brown;
    border-radius: 15px;
    width: 80%;
    margin: 1rem auto;
    padding: 3%;
}

.start-game input {
    text-align: center;
    padding: 1%;
    font-size: 2rem;
}

.start-game button {
    color: burlywood;
    background-color: brown;
    border-radius: 48%;
    padding: 3%;
    margin-top: 4px;
    font-size: 2rem;
}


/*** Layout ***/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground {
    flex: 1 1 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.playground .gameboard {
    flex: 1;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.playground .gameboard .buttons {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

.gameboard .buttons {
    flex: 1 0 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}